.nav-recept{
    border-bottom: 1px solid black;
    background-color: #edf0eb;
}

.form-recept{
    border-radius: 5px;
}

.search-box{
    position: relative;
  width: 400px;

}

.navbar{
    background: #57b54a;
    font-family: Poppins, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    color:white;
    height: 50px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li{
    list-style: none;
    display: inline-block;
    
}

.ingredient {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    font-size: 20px;
    margin: 10px 0;
}


.ingredient input {
    display: none;
}


.checkmark {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    border: 2px solid #888;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}


.ingredient input:checked + .checkmark {
    background-color: #274e02;
    border-color: #274e02;
}

.ingredient input:checked + .checkmark::after {
    content: "✓";
    color: white;
    font-size: 18px;

    animation: checkAnimation 0.2s ease;
}

.ingredient input:checked ~ .ingredient-text {
    text-decoration: line-through;
    opacity: 0.5;
}

@keyframes checkAnimation {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar{
    background: #57b54a;
    font-family: Poppins, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    color:white
}





.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li{
    list-style: none;
    display: inline-block;
    
}

.widget-container {
    display: flex;

    width: 1000px;
    min-height: 500px;

    margin: 0 auto;

    background-color: white;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.widget-image{
    width:600px;
    border-radius: 20px;
}

.widget-left {
    width: 50%;
}

.widget-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.widget-right {
    width: 50%;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.widget-h1 {
    margin: 0 0 40px 0;

    color: rgb(14, 10, 10);
    font-size: 40px;
    font-family: "Roboto Serif", Georgia, serif;
}

.widget-info {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 40px;
}

.widget-emoji {
    font-size: 20px;
}

.li-recept {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  justify-content: center;
  align-items: center;
 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-btn{
  border-radius:5px;
  color: white;
}

.nav-a{
     display: inline-block;
    padding: 5px 15px;
    margin: 5px;

    background-color: rgb(223, 207, 207);
    color: rgb(139, 77, 94);

    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;

}


.recipe-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    max-width: 1000px;
    margin: 40px auto;
}

.instruction input:checked + label {
    text-decoration: line-through;
    opacity: 0.5;
}


.instruction input:checked + label {
    text-decoration: line-through;
    opacity: 0.5;
}

.ingredient-text {
    line-height: 1.5;
}

@media (max-width: 768px) {
    .recipe-content {
        grid-template-columns: 1fr;
    }
}












 














